@model Oblig1.Models.Hus

<div class="col">
    <div>
        <img src="@Model.bildeURL" class="card-img-top" alt="Picture couldnt load 404 :(">
        <div>
            <div class="d-flex justify-content-between mt-2">
                <h5 class="text-start">
                    <a asp-controller="Hus"
                       asp-action="Oversikt"
                       asp-route-id="@Model.husId">@Model.Addresse</a>
                </h5>
                <h5 class="text-nowrap">
                    @Model.Pris.ToString("0.00 NOK")
                </h5>
            </div>
        </div>
    </div>
</div>