@model Oblig1.Models.Hus
<h2>Put out an announcement</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="lagHus">
    <input type="hidden" asp-for="bildeListe" />
    <input type="hidden" asp-for="ordreListe" />
    <input type="hidden" asp-for="eier.Person" />
    <input type="hidden" asp-for="eier.husListe" />
    <input type="hidden" asp-for="eier.Person" />
    <div class="form-group">
        <label asp-for="eier.kontoNummer"></label><span class="text-danger">*</span>
        <input asp-for="eier.kontoNummer" class="form-control" />
        <span asp-validation-for="eier.kontoNummer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="by"></label><span class="text-danger">*</span>
        <input asp-for="by" class="form-control" />
        <span asp-validation-for="by" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="areal"></label>
        <input asp-for="areal" class="form-control" type="number" />
        <span asp-validation-for="areal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Addresse"></label>
        <input asp-for="Addresse" class="form-control" type="text" />
        <span asp-validation-for="Addresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pris"></label>
        <input asp-for="Pris" class="form-control" type="number" />
        <span asp-validation-for="Pris" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="romAntall"></label>
        <input asp-for="romAntall" class="form-control" type="number" />
        <span asp-validation-for="romAntall" class="text-danger"></span>
    </div>
    <label for="harparkering">Parkering:</label>
    <select class="form-control" asp-for="harParkering">
        <option value="True">JA</option>
        <option value="False">NEI</option>
    </select>
    <label for="erMoblert">Moblert:</label>
    <select class="form-control" asp-for="erMoblert">
        <option value="True">JA</option>
        <option value="False">NEI</option>
    </select>
    <div class="form-group">
        <label for="Beskrivelse">Hus Beskrivelse:</label>
        <textarea class="form-control" asp-for="Beskrivelse" rows="5" required></textarea>
    </div>
    <div class="form-group">
        <label for="bildeListe">Last opp bilder :</label>
        <input type="file" name="imageData" accept="image/*" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Grid" class="btn btn-secondary">Back to Table View</a>
</form>