@model Oblig1.Models.Hus

<h2>Oppdater Hus</h2>


<form asp-action="endreBekreftet" method="post">
    <input type="hidden" asp-for="husId" />

    <div class="form-group">
        <label asp-for="Addresse"></label><span class="text-danger">*</span>
        <input asp-for="Addresse" class="form-control" />
        <span asp-validation-for="Addresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="by"></label><span class="text-danger">*</span>
        <input asp-for="by" class="form-control" />
        <span asp-validation-for="by" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="areal"></label>
        <input asp-for="areal" class="form-control" />
        <span asp-validation-for="areal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pris"></label>
        <input asp-for="Pris" class="form-control" />
        <span asp-validation-for="Pris" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="romAntall"></label>
        <input asp-for="romAntall" class="form-control" />
        <span asp-validation-for="romAntall" class="text-danger"></span>
    </div>
    <label for="ertilgjenlig">Tilgjengelig:</label>
    <select class="form-control" asp-for="erTilgjengelig">
        <option value="leilighe">JA</option>
        <option value="rekkehus">NEI</option>
    </select>
    <label for="harparkering">Parkering:</label>
    <select class="form-control" asp-for="harParkering">
        <option value="leilighe">JA</option>
        <option value="rekkehus">NEI</option>
    </select>
    <label for="erMoblert">Moblert:</label>
    <select class="form-control" asp-for="erMoblert">
        <option value="leilighe">JA</option>
        <option value="rekkehus">NEI</option>
    </select>
    <div class="form-group">
        <label for="Beskrivelse">Hus Beskrivelse:</label>
        <textarea class="form-control" asp-for="Beskrivelse" rows="5" required></textarea>
    </div>
    <div class="form-group">
        <label for="bildeURL">Last opp bilder :</label>
        <input type="file" asp-for="bildeURL" name="bildeURL[]" multiple>
    </div>

    <form  asp-controller="Hus" asp-action="endreBekreftet" asp-route-id="@Model.husId" method="post">
        <button type="submit" class="btn btn-success">Update</button>
        <a asp-controller="Hus" asp-action="Tabell" class="btn btn-secondary">Avbryt</a>
    </form>
</form>


