@model Oblig1.ViewModeller.ItemListViewModel

<h1>List of Houses (@Model.CurrentViewName View)</h1>
<a href="/Item/Grid">Grid View</a>

<partial name="_HusTabell" model="Model.Hus" />

@*<a class="btn btn-primary" asp-action="OrderConsole">Console Output</a>*@
