@model Oblig1.Models.Person

<h2>Update this Person</h2>

<form asp-action="EndreBekreftet" method="post">
    <input type="hidden" asp-for="ordreId" />
  
    <input type="hidden" asp-for="kunde.Person.TelefonNmr" />
    <input type="hidden" asp-for="kunde.Person.Addresse" />
    <input type="hidden" asp-for="kunde.Person.Email" />
    <input type="hidden" asp-for="kunde.Person.Fodselsdato" />
    <input type="hidden" asp-for="kunde.Person.Navn" />
    <input type="hidden" asp-for="kunde.Person" />
    <input type="hidden" asp-for="hus.Addresse" />
    <input type="hidden" asp-for="hus.areal" />
    <input type="hidden" asp-for="hus.Beskrivelse" />
    <input type="hidden" asp-for="hus.bildeListe" />
    <input type="hidden" asp-for="hus.by" />
    <input type="hidden" asp-for="hus.eier" />
    <input type="hidden" asp-for="hus.erMoblert" />
    <input type="hidden" asp-for="hus.harParkering" />
    <input type="hidden" asp-for="hus.ordreListe" />
    <input type="hidden" asp-for="hus.Pris" />
    <input type="hidden" asp-for="hus.romAntall" />
    <input type="hidden" asp-for="kunde.husListe" />
    <input type="hidden" asp-for="kunde.ordreListe" />
    <input type="hidden" asp-for="hus.eier.antallAnnonser" />
    <input type="hidden" asp-for="hus.eier.husListe" />
    <input type="hidden" asp-for="hus.eier.kontoNummer" />
    <input type="hidden" asp-for="hus.eier.Person.Addresse" />
    <input type="hidden" asp-for="hus.eier.Person.Email" />
    <input type="hidden" asp-for="hus.eier.Person.Fodselsdato" />
    <input type="hidden" asp-for="hus.eier.Person.Navn" />
    <input type="hidden" asp-for="hus.eier.Person" />
    <input type="hidden" asp-for="hus.eier.Person.TelefonNmr" />

    <div class="form-group">
        <label asp-for="Navn"> Name </label><span class="text-danger">*</span>
        <input asp-for="Navn" class="form-control" />
        <span asp-validation-for="Navn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"> Email </label><span class="text-danger">*</span>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>




    <div class="form-group">
        <label asp-for="Fodselsdato"> Birth date </label><span class="text-danger">*</span>
        <input asp-for="Fodselsdato" class="form-control" />
        <span asp-validation-for="Fodselsdato" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Adress"> Adress </label><span class="text-danger">*</span>
        <input asp-for="Adress" class="form-control" />
        <span asp-validation-for="Adress" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TelefonNmr"> Telephon number </label><span class="text-danger">*</span>
        <input asp-for="TelefonNmr" class="form-control" />
        <span asp-validation-for="TelefonNmr" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Update</button>
    <a asp-action="Tabell" class="btn btn-secondary">Abort</a>

</form>