@model Oblig1.Models.Person

<h2>Update this Person</h2>

<form asp-action="EndreBekreftet" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Navn"> Name </label><span class="text-danger">*</span>
        <input asp-for="Navn" class="form-control" />
        <span asp-validation-for="Navn" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"> Email </label><span class="text-danger">*</span>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Fodselsdato"> Birth date </label><span class="text-danger">*</span>
        <input asp-for="Fodselsdato" class="form-control" />
        <span asp-validation-for="Fodselsdato" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Addresse"> Adress </label><span class="text-danger">*</span>
        <input asp-for="Addresse" class="form-control" />
        <span asp-validation-for="Addresse" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TelefonNmr"> Telephon number </label><span class="text-danger">*</span>
        <input asp-for="TelefonNmr" class="form-control" />
        <span asp-validation-for="TelefonNmr" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Update</button>
    <a asp-action="Tabell" asp_route="@Model.Id" class="btn btn-secondary">Abort</a>

</form>