@model Oblig1.Controllers.MyViewModel

<h2>Create Order</h2>

<form asp-controller="Ordre" asp-action="Lag" method="post">
    <div class="form-group">
        <label for="betaltgjennom">Payment Method</label><span class="text-danger">*</span>
        <input type="text" id="betaltgjennom" name="betaltgjennom" class="form-control" />
        <span asp-validation-for="@Model.ordre.betaltGjennom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="startDato">Start Date</label><span class="text-danger">*</span>
        <input type="date" id="startDato" name="startDato" class="form-control" />
        <span asp-validation-for="@Model.ordre.startDato" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="sluttDato">End Date</label><span class="text-danger">*</span>
        <input type="date" id="sluttDato" name="sluttDato" class="form-control" />
        <span asp-validation-for="@Model.ordre.sluttDato" class="text-danger"></span>
    </div>

    <input type="hidden" name="husID" value="@Model.hus.husId" />

    <button type="submit" class="btn btn-primary">Create</button>

    <a asp-controller="Ordre"
       asp-action="Tabell"
       class="btn btn-secondary">
        Back to Table View
    </a>
</form>
