@model Oblig1.ViewModeller.ItemListViewModel

<h1>List of Houses (@Model.CurrentViewName View)</h1>

<partial name="_OrdreTabell" model="Model.Ordre" />

@*<a class="btn btn-primary" asp-action="OrderConsole">Console Output</a>*@
