@model Oblig1.Models.Kunde
<h2>Create New Kunde</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Person.Navn"></label><span class="text-danger">*</span>
        <input asp-for="Person.Navn" class="form-control" />
        <span asp-validation-for="Person.Navn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Person.Fodselsdato"></label><span class="text-danger">*</span>
        <input asp-for="Person.Fodselsdato" class="form-control" />
        <span asp-validation-for="Person.Fodselsdato" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Person.Addresse"></label>
        <input asp-for="Person.Addresse" class="form-control" />
        <span asp-validation-for="Person.Addresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Person.TelefonNmr"></label>
        <input type="tel" asp-for="Person.TelefonNmr" class="form-control" />
        <span asp-validation-for="Person.TelefonNmr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Person.Email"></label>
        <input type="email" asp-for="Person.Email" class="form-control" />
        <span asp-validation-for="Person.Email" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Table" class="btn btn-secondary">Back to Table View</a>
</form>
