@model Oblig1.Models.Kunde

<h2>Oppdater Kunde</h2>

<form asp-action="Endre">
    <input type="hidden" asp-for="kundeId" />

    <div class="form-group">
        <label asp-for="Navn"></label><span class="text-danger">*</span>
        <input asp-for="Navn" class="form-control" />
        <span asp-validation-for="Navn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fodselsdato"></label><span class="text-danger">*</span>
        <input asp-for="Fodselsdato" class="form-control" />
        <span asp-validation-for="Fodselsdato" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Addresse"></label>
        <input asp-for="Addresse" class="form-control" />
        <span asp-validation-for="Addresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TelefonNmr"></label>
        <input type="tel" asp-for="TelefonNmr" class="form-control" />
        <span asp-validation-for="TelefonNmr" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lagre endringer</button>
    <a asp-action="Table" class="btn btn-secondary">Avbryt</a>
</form>